@import url(font.css);
@import url(animation.css);
@import url(responsive.css);
@import url(best-selling.css);
@import url(customer-feedback.css);
@import url(reservation.css);
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}


.logo{
    position: absolute;
    margin-right: 50%;
}


.first-page {
    font-family: var(--font);
    background-color: var(--color-white);
}

header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.home-main {
    display: flex;
    flex-direction: row;
}

.content>p:first-child {
    display: inline-block;
    color: var(--color-blue);
    background-color: #ffe2b7;
    margin-top: 200px;
    margin-left: 200px;
    padding: 9px;
    border-radius: 10px;
}

.background {
    background-image: url(../background/banner.png);
    width: 100%;
    height: 120vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.background-overlay {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.background-overlay>h1 {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 10px;
    margin: 0;
    padding-top: 200px;
}

.background-overlay>h2 {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 10px;
    margin: 0;
    padding-top: 90px;
}

.background-overlay>.address-overlay {
    font-weight: 500;
    color: white;
    padding-top: 100px;
    font-size: 1.4em;
    letter-spacing: 10px;
}

.background-overlay>.time-overlay {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 10px;
}
/*
*content's style

*/

.drop-down-content>ul {
    padding: 0;
    list-style-type: none;
}

.drop-down-content>ul>li>a {
    text-decoration: none;
    color: var(--color-orange);
}

.drop-down-content>ul>li {
    padding: 20px 30px;
}

.drop-down-content>ul>li:hover {
    background-color: black;
    cursor: pointer;
}

.drop-down-content>ul>li:hover a {
    color: var(--color-orange);
    font-size: 1.4em;
}

.drop-down-content {
    position: relative;
    width: 300px;
    height: 320px;
    background-color: black;
    opacity: .9;
}
/*
*drop down 
*/

.drop-down-content {
    display: none;
}

.drop-down:hover .drop-down-content {
    display: block;
}

.drop-down {
    transition: all 10s ease;
    position: fixed;
    z-index: 1;
    padding-right: 10px;
    text-align: right;
}

.drop-down>span {
    display: inline-block;
    margin-top: 20px;
}
/*
icon size
*/

.icon-sizing {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    color: #000000;
    background-color: var(--color-orange);
}
/*
Categories page
*/

.main-2 {
    overflow: hidden;
    background-color: rgba(255, 153, 0, .1);
    padding-bottom: 50px;
    padding-top: 90px;
}

.cate {
    text-align: center;
    margin-bottom: 30px;
}

.cate-heading {
    display: inline-block;
    color: var(--color-orange);
    font-family: var(--font);
    font-size: 2.5rem;
    letter-spacing: 2px;
    width: fit-content;
    margin: 16 0;
    font-variant-caps: petite-caps;
    animation: flip 4s infinite;
}
/*
foods lists
*/

.cate-food-categories {
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    row-gap: 20px;
}

.cate-food {
    display: flex;
    flex-direction: row;
    row-gap: 17px;
    column-gap: 25px;
    justify-content: center;
}

.foods {
    border-radius: 13px;
    overflow: hidden;
}

.foods {
    position: relative;
}

.foods>.overlay {
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: black;
    opacity: .65;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.foods>.overlay>p {
    color: var(--color-white);
    font-family: var(--font);
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    margin-top: 70px;
    cursor: default;
}

.view-btn {
    position: relative;
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    background-color: whitesmoke;
    font-family: var(--font);
    font-weight: 600;
    opacity: 1;
    border-radius: 2px;
    padding: 5px 15px;
    transition: all 1s ease;
}

.overlay:hover .view-btn {
    position: relative;
    display: flex;
    margin-left: 95px;
    margin-top: 32px;
    cursor: pointer;
}

.main-3 {
    background-color: rgba(255, 153, 0, .1);
    padding-top: 100px;
}

.application-display {
    display: flex;
    background-color: #ffe2b7;
    font-family: var(--font);
}

.application-p-tag {
    margin-top: 80px;
    margin-left: 50px;
    /* font-family: var(--font); */
    font-size: 1.2rem;
}

.application-display h2>p {
    font-size: 1.6em;
    margin-left: 50px;
    color: var(--color-blue);
}

.application-div {
    margin-left: 50px;
}

.application-div>p {
    font-size: 1.7rem;
}

.download-link {
    margin-top: 80px;
    margin-left: 50px;
    text-transform: uppercase;
    background-color: var(--color-orange);
    width: fit-content;
    padding: 13px 70px;
    border-radius: 20px;
    transition: all 1s ease;
}

.download-link a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
}

.download-link:hover {
    background-color: var(--color-blue);
}

.download-link:hover a {
    color: var(--color-white);
}

footer {
    display: flex;
    background-color: var(--color-blue-light);
    font-family: var(--font);
}

footer>div:last-child label {
    display: block;
    padding: 10px 0;
    font-family: var(--font);
    color: var(--color-orange);
    font-size: 1rem;
    margin-left: 20px;
}

.email-input {
    display: block;
    text-align: center;
}

.social-media-link:hover{
    opacity: 0.7;
}

footer>div:last-child input {
    background-color: black;
    border: none;
    outline: none;
    color: var(--color-orange);
    padding: 4px 0px 4px 10px;
    width: 50%;
    border-radius: 2px;
}

footer>div:last-child button {
    outline: none;
    color: var(--color-black);
    background-color: var(--color-orange);
    border: 0.1px solid var(--color-white);
    border-radius: 2px;
    padding: 2px 10px;
    font-family: var(--font);
    font-size: 0.9rem;
}

footer>div:last-child input::placeholder {
    color: var(--color-orange-light);
}

.get-in-touch {
    color: var(--color-orange);
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0 19px 0;
}

.get-in-touch p {
    margin: 8px 0;
}

.footer-contact-number {
    text-align: center;
}

.footer-contact-number>i {
    color: var(--color-orange);
    padding: 2px;
    font-size: 1rem;
}

.footer-contact-number>a {
    display: inline-block;
    color: var(--color-orange);
    padding: 7px;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
}

.follow-us {
    text-align: center;
    padding-top: 20px;
}

.follow-us>a:first-child {
    display: inline-block;
}

.follow-us>p {
    color: var(--color-orange);
}

.follow-us>a>i {
    color: var(--color-orange);
    padding: 3px;
    font-size: 1.9rem;
    padding-left: 20px;
}

.copy-right {
    background-color: black;
    padding: 20px;
}

.copy-right>p {
    color: var(--color-orange);
    margin: 0;
    text-align: center;
}

.store>a {
    display: block;
    padding: 8px;
    text-align: center;
}

.about-us-div-p {
    font-family: var(--font);
    color: var(--color-orange);
    text-align: center;
    padding: 0 50px;
}